In [2]:
import pandas as pd
import numpy as np
from nltk.tokenize import sent_tokenize

In [26]:
platforms = ["Pitchfork", "Guardian", "Spectrum", "NME"]
path = "C:\\Users\\tommy\\OneDrive\\University\\Year 3\\Third Year Project\\Platform Album Data\\text_edited_data.h5"

dfs = {platform: pd.read_hdf(path, key=platform) for platform in platforms}

In [39]:
text = pd.Series(dtype=str)

for platform, df in dfs.items():

    text = pd.concat([text, df.loc[:, "Text"]])
    
text = text.astype("string")
text = text.drop_duplicates().reset_index(drop=True)
text = text.apply(sent_tokenize)

text.apply(pd.Series).stack().reset_index(drop=True)

0        Confronting the climate crisis and the prospec...
1        Brian Eno is known for many things: pioneering...
2        But you wouldn’t describe him as particularly ...
3        He’s not, as some might say, “sad boy emo.” So...
4        “It took me a long time to embrace the idea th...
                               ...
59480    Aside from being the only track on which he ac...
59481                                 It’s not all killer.
59482    The Mr Hudson collabs ‘Paranoid’ and ‘Say You ...
59483    The resounding verdict is that it’s a surprisi...
59484    As for the lack of raps, in truth, the less we...
Length: 59485, dtype: object

In [ ]:
random.set_state(0)

In [3]:
form = pd.read_hdf("C:\\Users\\tommy\\OneDrive\\University\\Year 3\\Third Year Project\\Platform Album "
                   "Data\\unigram_data.h5", key="form")

In [6]:
form.loc[form["Desired"] == 1]

       Artist Album Platform  id  Desired
287712      1     1        1   1        1
287715      1     1        1   1        1
287716      1     1        1   1        1
287717      1     1        1   1        1
287834      1     1        1   1        1
...       ...   ...      ...  ..      ...
289712      1     1        1   1        1
289713      1     1        1   1        1
289801      1     1        1   1        1
289859      1     1        1   1        1
289860      1     1        1   1        1

[95 rows x 5 columns]

In [20]:
indices = form.loc[form["Desired"] == 1].index

In [25]:
for index in indices:
    print(form.iloc[index - 1].loc["Album"], form.iloc[index + 1].loc["Album"])

fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora
fossora fossora

In [24]:
for index in indices:
    
    form.loc[index, "Album"] = "fossora"